.profile-page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-main-container {
    width: 100%;
    height: 100%;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media only screen and (min-width:460px) {
    .profile-page {
        width: 70%;

    }


    .profile-main-container {

        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 20px 0 20px;
    }


}
