// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;
$greyClr:rgb(115, 115, 115);


//Borders 
$bottomBorder: 1px solid rgb(219, 219, 219);
$rightBorder: 1px solid rgb(215, 215, 215);
$loginBorder:1px solid rgb(219, 219, 219);

//Fonts
$fontFamily: -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

$fontSize12: 12px;
$fontSize14: 14px;
$fontSize16: 16px;

$fontWeight400:400;
$fontWeight600:600;

//Navigation

$wideNav: 335px;
$narrowNav: 48px;

$fontFamilyNavBar:-apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$fontSizeNavBar: 16px;
$fontWeightNavBar: 400;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;